:root {
    --text-color: #222233;
    --ui-mono-font: "Ubuntu Mono", "Inter", sans-serif;
    --ui-general-font: "Inter", sans-serif;
    --headline-font: "Inter", sans-serif;
    --body-text: "Inter", sans-serif;
    --size-1: 14px; /*was 12*/
    --size-2: 16px; /*was 14*/
    --size-3: 16px;
    --size-4: 24px;
    --size-5: 32px;
}

@font-face {
    font-family: 'Rocher';
    src: url('/fonts/RocherColorGX.woff2');
}

@font-palette-values --orange {
    font-family: Rocher;
    override-colors:
        0 #1d2259,
        1 #f9877c,
        2 #dc5079,
        3 #ffd9bd
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    text-align: center;
    background-color: #f2f3f8;
    background-repeat: no-repeat;
    margin: 0;
    font-family: var(--body-text);
    font-size: var(--size-1);
}

.title-image img {
    height: 48px;
    margin-top: 16px;

}

.title {
    font-family: "Rocher", sans-serif;
    font-size: var(--size-4);
    font-variation-settings: "BVEL" 41, "SHDW" 100;
    font-palette: --orange;

    margin-top: 0px;

    position: sticky;
    top: 0;
    z-index: 10;

    padding: 16px;
}

.title::after {
    content: "beta";
    font-family: var(--ui-mono-font);
    font-size: 8px;
    color: var(--text-color);
    position: absolute;
}

.title-floating {
    background-color: #f2f3f8;
    /* background: linear-gradient(to right, #ffffff 0%, #f8f7fe 50%, #ffffff 100%); */
    box-shadow: 0px 0px 30px -20px #050065;
    border-bottom: #ffffff2b solid 1px;
}

.subtitle {
    font-family: var(--ui-general-font), sans-serif;
    font-size: var(--size-1);
    color: var(--text-color);
    margin-top: 16px;
    margin-bottom: 8px;

    font-family: "Rocher", sans-serif;
    font-size: var(--size-3);
    font-variation-settings: "BVEL" 59, "SHDW" 100;
}

#bubble-button {
    cursor: pointer;
}

.general-container {
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    max-width: 390px;
    min-width: 210px;
}

.message-box-bubble {
    background: linear-gradient(to right, #222233 0%, #17172d 50%, #222233 100%);
    margin-top: 8px;
    background-color: var(--text-color);
    padding: 4px;
    border-radius: 8px;
    text-align: left;
    position: relative;
    box-shadow: 0px 5px 30px 10px #0900ac0f, 0px 45px 20px -50px #050065;
}

.message-box-bubble:before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    top: -8px;
    left: 50%;
    translate: -50%;
    border-width: 5px;
    border-color: transparent transparent #17172d transparent;
    border-style: solid;
    z-index: -1;
}

.message-box-content {
    display: inline-block;
    text-align: left;
    padding: 16px;
    color: #ffffff;
}

.message-box-header {
    font-size: var(--size-3);
    font-weight: 500;
    /* color: #eeeeff; */

}

.message-box-paragraph {
    margin-top: 8px;
    font-size: var(--size-2);
    /* color: #eeeeff; */
    line-height: 1.5;
}

tag {
    /* color: #FBB39A; */
    color: #F9877C;
}

.today-headline {
    color: var(--text-color);
    font-family: var(--ui-general-font);
    font-size: var(--size-2);
    font-weight: 600;
    font-style: italic;
}
.today-headline::before {
    content: "#";
}

.today-date {
    padding: 8px;
    font-family: var(--ui-general-font);
    font-size: var(--size-1);
    color: #908ea3;
    color: var(--text-color);
    filter: opacity(0.5);
}

.article-card {
    background: linear-gradient(to right, #ffffff 0%, #f8f7fe 50%, #ffffff 100%);
    background-color: #f7f7f7;
    background-repeat: repeat;
    max-width: 390px;
    min-width: 210px;
    margin: auto;
    padding: 16px;
    /* box-shadow: 0px 5px 30px 10px #0010390f, 0px 20px 20px -30px #02004459; */
    box-shadow: 0px 5px 30px 10px #0900ac0f, 0px 20px 20px -30px #0900ac59;

    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    color: var(--text-color);
}

.notepad-container {
    position: relative;

    max-width: 424px;
    min-width: 210px;
    margin: auto;
    padding: 0px;
    display: none;

    /*xtra stuff---*/
    box-shadow: inset 0px 20px 15px -10px #0900ac13;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;

}

/* .notepad-bg {

    position: absolute;
    top: -8px;
    left: -1px;
    background-color: #ffffff;
    width: calc(100% + 2px);
    height: calc(100% + 8px);
    border-radius: 0 0 8px 8px;
    z-index: -1;
    color: var(--text-color);
    font-family: var(--body-text);
    box-shadow: 0px 3px 20px 5px #0010390f;

    display: none;
} */

.notepad-header {
    text-align: left;
    font-family: "Inter", var(--body-text), sans-serif;
    font-size: var(--size-1);
    color: var(--text-color);
    padding: 16px;
}

.notepad-textarea {
    border: none;
    outline: none;
    resize: none;
    height: 160px;
    width: 90%;
    background: none;
    font-family: "Inter", var(--body-text), sans-serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: var(--size-3);
    text-align: left;
}

.notepad-textarea::placeholder {
    color: #cccccc;
}

.notepad-actions {
    position: relative;
    padding: 16px;
    padding-bottom: 0px;
}

.small-line-container {
    padding: 8px;

}

.small-line {
    width: 8px;
    height: 2px;
    border-radius: 2px;
    background-color: #dddfec;
    margin: auto;
}


.article-pic {
    background-color: var(--text-color);
    background-size: cover;
    background-position: center;
    height: 224px;
    border-radius: 2px;
    filter: saturate(0.5);
    position: relative;
}
.article-pic::before {
    content: "";
    background: url(/images/noise.svg);
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    inset: 0px 0px 0px 0px;
    z-index: -1;
}
.article-pic::after {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    inset: 0px 0px 0px 0px;
    z-index: -1;
}
.article-pic-loading {
    background-color: #98a1b0;
    background-size: auto;
    background-position: center;
    
    height: 224px;
    border-radius: 2px;
    position: relative;
    clip-path: inset(0px 0px 0px 0px);
}
.article-pic-loading::after {
    content: "beaming...";
    position: absolute;
    top: 80%;
    left: 50%;
    translate: -50% -50%;
    
    
    color: #ffffff;
    background-color: var(--text-color);
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    z-index: 10;

}
.spiral-rotating {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    background-image: url("/images/spiral.png");
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    z-index: -1;
    animation: spiral-rotation 0.3s infinite linear;
   

}
@keyframes spiral-rotation {
    
    from {
        rotate: 360deg;

    }
    to {
        rotate: 0deg;

    }
}




.today {
    font-family: var(--ui-mono-font), sans-serif;
    font-size: 8px;
    color: white;
    text-align: left;
    padding: 16px;

}

.big-arrow {
    width: 32px;
    margin-left: auto;
    margin-right: 0;
    padding: 16px;
}

#time-to-read {
    background-color: rgb(255, 255, 255);
    width: 24px;
    float: right;
    margin-right: 16px;
    margin-top: -8px;
    font-family: var(--ui-mono-font);
    font-size: 8px;
    border-radius: 2px;
    padding: 4px;
}

.article-title {
    font-family: "Inter", "Playfair Display", var(--headline-font), serif;
    font-weight: 600;
    font-size: var(--size-5);
    color: var(--text-color);
    margin-top: 8px;
    text-align: left;
}

#tags-container {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;

}

.topic {
    font-family: "Inter", var(--body-text), sans-serif;
    font-size: 10px;
    color: var(--text-color);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: capitalize;
    text-align: left;
    background-color: hsl(147, 60%, 90%);
    border-radius: 16px;
    display: inline-block;

}

.topic::before {
    content: "#";
}

.small-horizontal-spacer {
    width: 8px;
    height: 8px;
}

.article-description {
    font-family: "Inter", var(--body-text), sans-serif;
    font-weight: 300;
    /* letter-spacing: 0.3px; */
    line-height: 1.3;
    font-size: var(--size-3);
    margin-top: 6px;
    text-align: left;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* Truncate when no. of lines exceed 2 */
    overflow: hidden;
}

.article-source {
    font-family: "Inter", var(--body-text), sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 8px;
    text-align: left;
    display: flex;
    align-items: center;
}

#article-source-icon {
    background: url("/images/globe_icon.png"), #eeeeee;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 1px;
    height: 16px;
    width: 16px;
    margin-right: 4px;
}





.article-actions {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 0px;

}

.secondary-button {


    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;

    border-radius: 4px;
    border: none;
    background: none;
    color: var(--text-color);
    font-family: var(--ui-general-font);
    font-size: var(--size-1);
    letter-spacing: 0.5px;

    border-radius: 10px;

    padding: 10px;


    cursor: pointer;

}

.secondary-button:active {
    /* background-color: #e4e6f1; */
    background-color: #99a1c932;

}

.secondary-button-pressed {
    background-color: #dddfec;
}

.secondary-button-rotate {

    transform: rotate(720deg);
}


.secondary-button-icon {
    display: inline-block;

    height: 16px;
    vertical-align: middle;
    /* margin-bottom: 2px; */
    /*center correction*/
    /* margin-right: 4px; */
    margin: 2px;
    transition: 1s;






}

.process-indicator {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;

    border-radius: 4px;
    border: none;
    background: none;
    color: var(--text-color);
    font-family: var(--ui-mono-font);
    font-size: 10px;
    letter-spacing: 0.5px;



    padding: 10px;


    cursor: pointer;
    filter: opacity(0.5);
}


.primary-button {
    display: inline-block;

    border-radius: 4px;
    border: none;


    /* background-color: #151137; */
    background-color: var(--text-color);
    color: #ffffff;

    font-family: var(--ui-general-font);
    font-size: var(--size-1);
    letter-spacing: 0.5px;

    font-weight: 600;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;

    cursor: pointer;
}










.containers {

    padding: 16px;

    font-family: var(--ui-general-font);
    font-size: var(--size-1);
    color: var(--text-color);
    max-width: 390px;
    min-width: 210px;

    margin: 8px auto;
    text-align: left;

    /* border-bottom: #0700521d solid 1px; */
}

.containers::after {
    content: "";

    width: 100%;
    height: 16px;
    display: block;
    border-bottom: #07005211 solid 1px;


}

.container-header {
    /* margin-top: 8px; */
    /* margin-bottom: 24px; */
    margin-bottom: 8px;
}

.container-header-icon {
    height: 16px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 4px;
}

#focus-buttons-set {
    /* display: flex;
    justify-content: space-evenly;
    margin-top: 0px; */
    text-align: center;
}





.focus-button-led {
    margin: auto;
    width: 8px;
    height: 4px;
    border-radius: 4px;

    background-color: #00158a20;
    margin-bottom: 8px;
}

.focus-button-led-active {
    animation: focus-button-led-color-change 0.9s infinite alternate;
}

@keyframes focus-button-led-color-change {
    from {
        background-color: #ff9e5d;
        box-shadow: 1px 2px 1px 0px #fff1e0, inset -1px -1px 1px 0px #ffa264, 0px -2px 3px 3px #fff1e1, 0px 0px 30px 3px #ff885d;
    }

    to {
        background-color: #00158a20;
        box-shadow: 0px 0px 0px 0px #fff1e0, inset 0px 0px 0px 0px #ffa264, 0px 0px 0px 0px #fff1e1, 0px 0px 10px 3px #ff885d00;
    }
}


.focus-button-container {
    display: inline-block;
    /* margin-top: -16px; */
    /* padding: 16px; */
    /* width: 100px;
    height: 100px; */
    border: #22223300 solid 1px;
    border-radius: 2px;



    margin: 8px;
}

.focus-button-square {
    background-color: #f2f3f8;
    border: #2222332c solid 1px;




    border-radius: 40px;
    /* border-radius: 100px; */
    padding: 12px;

    box-shadow: inset 1px 1px 0px 0px #ffffffa5, 1px 1px 0px 0px #ffffffa5;
    position: relative;




    /* border: 1px solid transparent;
    padding: 12px;
    border-radius: 100px;
    background-image: linear-gradient(#f2f3f8, #f2f3f8),
        linear-gradient(to bottom, #edbba9 0%, #2222332c 20%);
    background-origin: border-box;
    background-clip: padding-box, border-box; */







}

.focus-button-square:active {
    box-shadow: inset 0px 0px 5px 2px #2222330f;
}

.focus-button {
    /*Sensory perception*/
    background-color: #f2f3f8;

    border: 0;
    /* border-radius: 26px; */
    border-radius: 50px;

    width: 64px;
    height: 64px;

    display: inline-block;

    cursor: pointer;

    box-shadow: -1px -1px 2px 0px #ffffff, -1px -1px 4px 0px #0900ac1c,
        -4px -4px 5px 0px #ffffff, 4px 4px 5px 2px #0900ac1c,
        inset 1px 1px 2px 0px #ffffff, inset -1px -1px 2px 0px #0900ac1c,
        inset 4px 4px 10px 0px #0900ac0b, inset -4px -4px 9px 0px #ffffff51,
        4px 4px 30px 0px #0900ac1d;

    position: relative;
}

#noise-button::after {
    content: "";
    width: 8px;
    height: 8px;
    /* background-color: #7a5b5bbf; */
    background-color: #c48f7c;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 100px;
    /* border: #ad8a8abf solid 1px; */
    border: #c48f7c solid 1px;
    box-shadow: inset 4px 4px 10px 0px #0900ac1c, inset -4px -4px 9px 0px #fffee525;
}

#rain-button::after {
    content: "";
    width: 4px;
    height: 24px;
    /* background-color: #72acbbbf; */
    /* background-color: #7dc6c9; */
    background-color: #97c2eb;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: 100px;
    /* border: #9abbc3bf solid 1px; */
    border: #97c2eb solid 1px;
    box-shadow: inset 4px 4px 10px 0px #0900ac1c, inset -4px -4px 9px 0px #fffee525;
}

#binaural-button::after {
    content: "";
    width: 24px;
    height: 4px;
    /* background-color: #5b7a5bbf; */
    background-color: #9cc59a;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 100px;
    /* border: #85a285bf solid 1px; */
    border: #9cc59a solid 1px;
    box-shadow: inset 4px 4px 10px 0px #0900ac1c, inset -4px -4px 9px 0px #fffee525;
}

.focus-button-label {
    margin-top: 8px;

    color: var(--text-color);
    font-family: var(--ui-mono-font);
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
}


@keyframes focus-button-color-change {
    from {
        color: var(--text-color);



        box-shadow: 0px -4px 5px -4px #ff9c782f, inset 0px 2px 5px -2px #ff9c782f,
            -1px -1px 2px 0px #ffffff, -1px -1px 4px 0px #ac4b001c,
            -4px -4px 5px 0px #ffffff, 4px 4px 5px 2px #0900ac1c,
            inset 1px 1px 2px 0px #ffffff, inset -1px -1px 2px 0px #0900ac1c,
            inset 4px 4px 10px 0px #0900ac0b, inset -4px -4px 9px 0px #ffffff51,
            4px 4px 30px 0px #ac00001d;

    }

    to {
        color: #222b33;

        box-shadow: 0px -4px 5px -4px #ff9c7800, inset 0px 2px 5px -2px #ff9c7800,
            -1px -1px 2px 0px #ffffff, -1px -1px 4px 0px #0900ac1c,
            -4px -4px 5px 0px #ffffff, 4px 4px 5px 2px #0900ac1c,
            inset 1px 1px 2px 0px #ffffff, inset -1px -1px 2px 0px #0900ac1c,
            inset 4px 4px 10px 0px #0900ac0b, inset -4px -4px 9px 0px #ffffff51,
            4px 4px 30px 0px #0900ac1d;
    }
}



.focus-buttons-active {
    animation: focus-button-color-change 0.9s infinite alternate;

}





#saved-list-parent {
    /* background-color: #e3e4ef; */
    background-color: #00148a08;
    padding: 8px;
    padding-bottom: 1px;

    border-radius: 8px;
    min-width: 290px;


    overflow: hidden;
    overflow-y: scroll;
    resize: vertical;

}

.saved-article-card {



    background-color: #fafafa;

    padding: 4px;

    /* box-shadow: 0px 8px 20px 0px #0f14211d; */
    box-shadow: 0px 8px 20px 0px #0900ac1d;


    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    color: var(--text-color);

    /* height: 64px; */
    min-width: 280px;

    margin-bottom: 7px;


}

.saved-article-card-default-area {
    display: flex;
    justify-content: space-between;



}

.saved-article-card-clickable-area {
    cursor: pointer;
}



.saved-article-card-pic {
    display: inline-block;
    background: var(--text-color);
    background-size: cover;
    background-repeat: no-repeat;

    width: 64px;
    height: 64px;
    border-radius: 2px;
    filter: saturate(0.5);

    margin-bottom: -3px;

}

.saved-artice-card-content {
    display: inline-block;
    max-width: 70%;
    min-width: 150px;
    vertical-align: top;
    margin-left: 2px;


}


.saved-article-card-title {

    display: block;
    font-family: "Inter", var(--headline-font);
    /* font-style: italic; */
    font-weight: 400;
    font-size: var(--size-3);
    color: var(--text-color);

    max-height: 39px;
    vertical-align: top;
    /* background-color: #9d6518; */



    overflow: hidden;


    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Truncate when no. of lines exceed 2 */
    overflow: hidden;


}

.saved-article-source {
    display: inline-block;
    font-family: "Inter", var(--body-text), sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: var(--text-color);


    text-align: left;
    /* display: flex; */
    /* align-items: center; */

    /* margin-top: 6px; */

    /* background-color: yellow; */
}

.saved-article-source-logo {
    background: url("/images/globe_icon.png"), #eeeeee;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 1px;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}

.saved-article-source-name {
    display: inline-block;
    vertical-align: middle;
}

.saved-article-card-control {
    display: inline-block;
    /* background-color: #a6a6a6; */
    vertical-align: top;






}

.expand-button {
    display: block;
    margin-top: 15px;

}

.saved-article-card-extended-area {

    margin-top: 8px;
    /* background-color: #f2f1f7; */
    padding: 4px;
    /* border-radius: 4px; */


    display: none;



}


.show-on-desktop-only {
    display: block;
    background-color: #484d5b;
    color: #cccccc;
    font-family: var(--ui-mono-font);
    font-size: 10px;
    padding: 4px;
    margin: 0px -8px 0px -8px;
}

@media only screen and (max-width: 800px) {
    .show-on-desktop-only {
        display: none;
    }
}

#meme-pic {
    width: 100%;
    border-radius: 4px;
    filter: saturate(0.5);
}

#meme-source {
    border: #07005211 solid 1px;
    border-radius: 80px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

#meme-source::before {
    content: "Source: ";
}

.space-betweeners {
    display: flex;
    justify-content: space-between;

}

.space-betweeners-aligned-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-space-betweeners-aligned-center {
    display: flex;
    align-items: center;
}

hr {
    max-width: 420px;
    min-width: 210px;
    border: #484d5b solid 0.5px;
    border-radius: 1px;

}

#snackbar {
    visibility: hidden;
    max-width: 360px;
    min-width: 210px;
    left: 50%;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    transform: translate(-50%, 0px);

    background-color: var(--text-color);
    box-shadow: 0px 20px 40px 10px #0f14213c;

    text-align: center;
    border-radius: 2px;
    padding: 16px;
}

#snack-message {
    display: inline-block;
    color: #ffffff;
    font-family: var(--ui-general-font);
    font-size: var(--size-2);
}

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
/* @-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
} */

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

/* @-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
} */

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#empty-saved {
    /* background-color: #e3e4ef; */
    background-color: #00148a08;
    background-image: url('/images/saved_empty.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 8px;
    /* filter: opacity(0.8); */
}

#empty-saved-message {
    font-family: var(--ui-mono-font);
    font-size: var(--size-1);
    text-align: center;
    margin-top: 12px;
    position: relative;

    top: 80%;
}

#empty-rack {
    /* background-color: #e3e4ef; */
    background-color: #00148a08;
    background-image: url('/images/rack_empty.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 8px;
    /* filter: opacity(0.8); */
}

#empty-rack-message {
    font-family: var(--ui-mono-font);
    font-size: var(--size-1);
    text-align: center;
    margin-top: 12px;
    position: relative;

    top: 80%;
}




@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-duration: 0.3s;
}

.hide-element {
    display: none;
}

.fidget-container {
    margin-top: 32px;
    margin-bottom: 32px;

    text-align: center;
    position: relative;
    z-index: 1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fidget-container::after {
    content: "";
    background-image: url("/images/spinner_arrows.png");
    background-size: contain;
    width: 365px;
    height: 365px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0.2;
    z-index: -1;
}

#phena-spinner {
    filter: drop-shadow(0px 0px 10px #002a1c3f);
}

#fidget-spinner {
    filter: drop-shadow(0px 0px 20px #7b00003f);
}

#canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;

}

.margin-top-4 {
    margin-top: 4px;
}

.footer {
    margin-top: -24px;
    font-family: var(--ui-mono-font), "Noto Sans", sans-serif;
    font-size: var(--size-1);

    background-color: var(--text-color);
    color: #ffffff;
    padding: 16px;
}

.footer a {
    color: #ffffff;
}

.spacer {
    height: 16px;
}
#dev-tool-clicker {
    opacity: 0;
    width: 100px;
    height: 8px; 
}



.black-out {
    background-color: #d5d8e6;
    color: #ffffff00;
    border-radius: 4px;
    /* filter: brightness(100); */


    animation: black-out-animation 0.4s infinite alternate;
}
@keyframes black-out-animation {
    from {
        opacity: 0.4;

    }
    to {
        opacity: 0.7;


    }
    
}




/* Watch this : https://www.youtube.com/watch?v=44FTAS-qT8Q */